<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit records</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/panelstyle.css' %}">
</head>
<body>
    <div class="main">
        <div class="innermain">Admin Panel</div>
    </div>
    <div class="main2">
        <div class="innermain2">
            <ul class="leftlist">
                <li><a href="{% url 'showcat'%}">Category Summary</a></li>
                <li><a href="{% url 'insertcat'%}">Add Category</a></li>
                <li><a href="{% url 'showpge'%}">Pages Summary</a></li>
                <li><a href="{% url 'insertpge'%}">Add Pages</a></li>
                <li><a href="{% url 'showprod'%}">Product Summary</a></li>
                <li><a href="{% url 'insertprod'%}">Add Product</a></li>
            </ul>
            <div class="right">
                <center>
                    <h1 class="hed" >Edit Product table Records</h1>
                    <hr/>
                    <form method="POST" action="/update3/{{proddisplay.id}}">
                        {% csrf_token %}
                        <table class="tbl3">
                            <tr>
                                <td>Product Id</td>
                                <td><input type="text" name="id" value="{{proddisplay.id}}" readonly></td>
                            </tr>
                            <tr>
                                <td>Product CategoryId</td>
                                <td><input type="text" name="categoryid" value="{{proddisplay.categoryid}}" readonly></td>
                            </tr>
                            <tr>
                                <td>Product Name</td>
                                <td><input type="text" name="pname" value="{{proddisplay.pname}}"></td>
                            </tr>
                            <tr>
                                <td>Product Price</td>
                                <td><input type="text" name="pprice" value="{{proddisplay.pprice}}"></td>
                            </tr>
                            <tr>
                                <td>Product Content</td>
                                <td><input type="text" name="pcontent" value="{{proddisplay.pcontent}}"></td>
                            </tr>
                            <tr>
                                <td>Product Image</td>
                                <td><input type="file" name="pimage" value="{{proddisplay.pimage}}"></td>
                            </tr>
                            <tr>
                                <td>Product Displayorder</td>
                                <td><input type="text" name="pdisplayorder" value="{{proddisplay.pdisplayorder}}"></td>
                            </tr>
                            <tr>
                                <td>Product Status</td>
                                <td><input type="text" name="pstatus" value="{{proddisplay.pstatus}}"></td>
                            </tr>
                        </table>
                        <br/>
                        <input class="bt" type="submit" value="Update"/>
                        <br/>
                        <br/>
                        <a class="a" href="{% url 'showprod' %}">Move back</a>
                        {% if messages %}
                            {% for ms in messages %}
                                <h3 style="color:green;">{{ ms }}</h3>
                            {% endfor %}
                        {% endif %}
                    </form>
                </center>
            </div>
        </div>
    </div>
</body>
</html>